/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */


.thought1 { 
font-family: 'Trade Winds' ;
}



.thought2 { 
font-family: 'Krona One' ;
}



.thought3 {
font-family: 'Tomorrow' ;
}
    
